{% extends 'base.html' %}

{% from "users/formhelper/_formhelpers.html" import render_field %}

{% block title %}
    Add User
{% endblock %}

{% block pageTitle %}
   Add New User
{% endblock%}

{% block content %}
    <div class="row">
        
        <div class="col-md-6 offset-md-3">
            <!-- Default form login -->
            <form class="user" method="post">

                {% include 'users/messagehelper/add.html' %}
                
                <!-- First Name -->
                <div class="form-group">
                    {{ render_field(form.first_name, class_="form-control form-control-user") }}
                </div>

                <!-- Last Name -->
                <div class="form-group">
                    {{ render_field(form.last_name, class_="form-control form-control-user") }}
                </div>

                <!-- Email -->
                <div class="form-group">
                    {{ render_field(form.email, class_="form-control form-control-user") }}
                </div>

                <!-- Details -->
                <div class="form-group">
                    {{ render_field(form.details, class_="form-control form-control-user") }}
                </div>

              
                
                <!-- Add button -->
                <button class="btn btn-info btn-block mb-4" type="submit">Add User</button>

            </form>
            <!-- Default form login -->
        </div>
    </div>
{% endblock %}