{% extends 'base.html' %}

{% block title %}
    User Page
{% endblock %}

{% block pageTitle %}
    User
{% endblock%}

{% block sectiontitle %}
    User List
{% endblock %}

{% block content %}
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Bio</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
            {% for user in example %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.details}}</td>
                    <td>
                        <a href="{{ url_for('users.edituser', id=user.id) }}" class="btn btn-success btn-circle btn-sm">
                            <i class="fab fa-check"></i>
                        </a>
                        <a href="{{ url_for('users.deleteuser', id=user.id) }}" class="btn btn-danger btn-circle btn-sm">
                            <i class="fab fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
